@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.dark .heading-main {
  text-shadow: 0px 5px 0px #533519;
}

.heading-main {
  text-shadow: none;
}
